.rhap_main {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.rhap_progress-section {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    gap: 5px;
}

.rhap_controls-section {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
}