.title-home {
    padding: 5px;
}

.title-home a {
    padding-right: 25px;
}

.banner-surah {
  background-image: linear-gradient(to bottom right, #df98fa, #9055ff);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 30px 20px;
  box-shadow: 0px 18px 11px -8px rgba(0,0,0,0.1);
}

.surah-name-banner {
    font-weight: 400;
    font-size: 24px;
}

.quran-surah {
    width: 300px;
    opacity: .2;
    position: absolute;
    right: -40px;
    bottom: -50px;
}

.surah-arti {
    font-size: 14px;
    font-weight: 500;
}

.diver {
    display: inline-block;
    height: 1px;
    width: 65%;
    background-color: #fff;
    opacity: 35%;
}

.surah-ayat-locate {
    padding: 10px 0 20px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.list-ayat {
    padding-bottom: 100px;
}

.ayat {
    padding: 20px 0;
}

.number-page {
    background-color: rgb(18, 25, 49, 0.05);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.number-page span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 100%;
}

.ayat-latin {
    padding: 10px;
    text-align: right;
}

.ayat-latin h3 {
    font-family: 'Amiri', serif;
    color: var(--primary);
    font-size: 18px;
    padding: 15px 0;
}

.ayat-tr, .ayat-idn {
    padding: 0 15px;
    color: var(--font-surah);
}

.ayat-tr h3 {
    font-size: 16px;
}

.ayat-idn {
    font-size: 14px;
}

.audio-player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 35px;
}

.audio-player {
    border: 1px solid #f2f3f4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 18px 11px -8px rgba(0,0,0,0.1);
}

.rhap_button-clear {
    overflow: visible;
}