.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.title-home {
  color: var(--primary);
  font-weight: bold;
  font-size: 20px;
}

.banner {
  background-image: linear-gradient(to bottom right, #df98fa, #9055ff);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 150px;
}

.left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
}

.container-last-read {
  display: flex;
  align-items: center;
  gap: 10px;
}

.last-read {
  font-size: 16px;
  font-weight: 500;
}

.surah-name {
  font-size: 18px;
  font-weight: 500;
}

.surah-number {
  font-size: 14px;
  font-weight: 400;
}

.right-info {
  position: absolute;
  right: -30px;
  bottom: -30px;
}

.list-surah {
  padding-top: 10px;
}

.surah, .surah-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.surah {
  border-bottom: 1px solid #BBC4CE;
  cursor: pointer;
}

.surah-title {
  padding: 15px 0;
  gap: 15px;
}

.no-surah {
  width: 50px;
  height: 50px;
}

.no-surah span {
  background-image: url("/public/muslim.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--font-surah);
  font-weight: 600;
}

.surah-location h2 {
  color: var(--font-surah);
  font-size: 18px;
  font-weight: 500;
}

.surah-location span {
  font-size: 16px;
  text-transform: uppercase;
  font-size: 600;
  color: var(--info);
}

.name-surah-latin h2 {
  color: var(--primary);
}

/* Search Bar */
.toggle-search {
  display: inline-block !important;
}

.seacrhBar {
  padding: 5px 0 20px 0;
  width: 100%;
  display: none;
}

.seacrhBar input {
  width: 100%;
  border: 2px solid #c3cbd4;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--font-surah)
}

.seacrhBar input:focus {
  outline: none;
  border-color: #a4abb2;
}

/* Sidebar */
.sidebar {
  background-color: var(--primary);
  color: #fff;
  padding: 15px 20px;
  border-radius: 0 15px 15px 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  display: none;
}

.sidebar .sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .sidebar-top svg {
  font-size: 1.5em;
}

.sidebar .sidebar-body {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar .sidebar-body .sidebar-body-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-body .sidebar-body-menu ul li {
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.sidebar .sidebar-body .sidebar-body-menu ul li:hover {
  padding-left: 15px;
  transition: .2s ease-in;
}

.sidebar .sidebar-body .sidebar-body-menu ul li svg {
  font-size: 1.5em;
  margin-right: 10px;
}

.sidebar .sidebar-body .sidebar-body-menu ul li a {
  color: #fff;
}

.sidebar-footer {
  text-align: center;
  padding: 10px 0;
}

.sidebar-footer .footer-title {
  font-size: 1em;
  font-weight: 500;
}

.sidebar-footer .icons-social {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2em;
}

.sidebar-footer .icons-social a {
  color: #fff;
}

.sidebar-footer .icons-social a:hover {
  font-size: 1.3em;
  transition: .3s all;
}

.sidebar-footer .copyright {
  font-weight: 500;
  font-size: .8em;
}