@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8dee8;
}
